body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  color: lightpink;
  padding: 25px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 7px;
}

nav a {
  text-decoration: none;
  font-size: 17px;
  color: lightpink;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap; /* estamos teniendo un bardo con esto, tendremos que aplicar media queries i guess */
  justify-content: space-around;
  padding: 6px;
  background-color: lightblue;
  background-image: url("img/foodbackground.jpg");
}

.receta {
  background-color: lightpink;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex: 1;
}

.receta img {
  max-width: 50%;
  margin-bottom: 10px;
}

.recetaguia {
  background-color: lightpink;
  font-weight: bold;
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
  width: auto;
  height: auto;
  box-sizing: content-box;
}

.recetaguia img {
  border: 6px solid lightblue;
  border-radius: 10px;
  max-width: 50%;
  margin-bottom: 10px;
}

.caja {
  display: flex;
  flex-direction: column;
  border: 8px solid lightblue;
  margin: 2px;
  padding: 1px;
  width: auto;
  height: auto;
}

.caja2 {
  width: auto;
  height: auto;
  border: 4px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 4px;
}

.caja2 img {
  height: auto;
  max-width: 170px;
}

.tituloreceta {
  text-decoration: none;
  font-size: 50px;
  margin: 4px;
  padding: 0;
  text-shadow: 2px 2px 4px black;
  color: lightblue;
  font-weight: bold;
}

/*.flex-container {
  display: flex;
  /flex-direction: row-reverse;
    flex-wrap: nowrap;
  flex-flow: row nowrap;
  gap: 10px;
  order: 2; /* esto se aplica en propiedades hijo, ejemplo: tenes caja 1, 2 y 3, lo aplicas en caja3/
} */

footer {
  background-color: black;
  color: lightpink;
  text-align: center;
  padding: 20px;
}
